.DS_Store
__pycache__/
*.pyc
build/content-list-generator-gui
build/local/
releases/linux/*
!releases/linux/.gitkeep
releases/macos/*
!releases/macos/content-list-generator-darwin-arm64
releases/windows-go/*
!releases/windows-go/content-list-generator-windows-amd64.exe
!releases/windows-go/content-list-generator-windows-arm64.exe
releases/windows-python/*
!releases/windows-python/.gitkeep
testing/out/
testing/sample/
*.csv
!/README.md
